USE [master]
GO
/****** Object:  Database [KHODM]    Script Date: 09/11/2017 19:48:15 ******/
CREATE DATABASE [KHODM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KHODM', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\KHODM.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KHODM_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\KHODM_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KHODM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KHODM]
GO
/****** Object:  Table [dbo].[CTDH]    Script Date: 09/11/2017 19:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDH](
	[ID] [int] NOT NULL,
	[IDSP] [int] NOT NULL,
	[SL] [int] NOT NULL,
	[DONGIA] [int] NOT NULL,
	[GHICHU] [nvarchar](max) NULL,
 CONSTRAINT [PK_CTDATHANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[IDSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTPN]    Script Date: 09/11/2017 19:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPN](
	[ID] [int] NOT NULL,
	[IDSP] [int] NOT NULL,
	[SL] [int] NOT NULL,
	[DONGIA] [int] NOT NULL,
	[GHICHU] [nvarchar](max) NULL,
 CONSTRAINT [PK_CTPHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[IDSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTPX]    Script Date: 09/11/2017 19:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPX](
	[ID] [int] NOT NULL,
	[IDSP] [int] NOT NULL,
	[SL] [int] NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_CTPX] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[IDSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTSUCO]    Script Date: 09/11/2017 19:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTSUCO](
	[ID] [int] NOT NULL,
	[IDSP] [int] NOT NULL,
	[SL] [int] NOT NULL,
	[TINHTRANG] [nvarchar](max) NULL,
 CONSTRAINT [PK_CTSUCO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[IDSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTTK]    Script Date: 09/11/2017 19:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTTK](
	[ID] [int] NOT NULL,
	[IDSP] [int] NOT NULL,
	[SL] [int] NOT NULL,
	[GHICHU] [nvarchar](max) NULL,
 CONSTRAINT [PK_CTTONKHO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[IDSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTYCX]    Script Date: 09/11/2017 19:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTYCX](
	[ID] [int] NOT NULL,
	[IDSP] [int] NOT NULL,
	[SL] [int] NOT NULL,
	[GHICHU] [nvarchar](max) NULL,
 CONSTRAINT [PK_CTYCX] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[IDSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CUAHANG]    Script Date: 09/11/2017 19:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUAHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENCH] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](max) NOT NULL,
	[DT] [nchar](11) NOT NULL,
	[TIENNO] [int] NOT NULL,
 CONSTRAINT [PK_CUAHANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 09/11/2017 19:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGAY] [date] NOT NULL,
	[IDNCC] [int] NOT NULL,
	[IDNV] [int] NOT NULL,
	[TINHTRANG] [bit] NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_DONDATHANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NCC]    Script Date: 09/11/2017 19:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENNCC] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[DT] [nchar](12) NOT NULL,
	[TIENNO] [int] NOT NULL,
 CONSTRAINT [PK_NCC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 09/11/2017 19:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[CMND] [nchar](12) NOT NULL,
	[DT] [nchar](11) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[LOAI] [nchar](10) NOT NULL,
	[GHICHU] [nvarchar](max) NULL,
	[TINHTRANG] [bit] NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUCHI]    Script Date: 09/11/2017 19:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUCHI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGAY] [date] NOT NULL,
	[IDNCC] [int] NOT NULL,
	[TIEN] [int] NOT NULL,
	[NOIDUNG] [nvarchar](max) NULL,
 CONSTRAINT [PK_PHIEUCHI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 09/11/2017 19:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGAY] [date] NOT NULL,
	[IDNCC] [int] NOT NULL,
	[IDNV] [int] NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUTHU]    Script Date: 09/11/2017 19:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGAY] [date] NOT NULL,
	[IDCH] [int] NOT NULL,
	[TIEN] [int] NOT NULL,
	[NOIDUNG] [nvarchar](max) NULL,
 CONSTRAINT [PK_PHIEUTHU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 09/11/2017 19:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGAY] [date] NOT NULL,
	[IDNV] [int] NOT NULL,
	[IDCH] [int] NOT NULL,
	[PHANTRAMLOI] [float] NOT NULL,
	[KHUYENMAI] [float] NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 09/11/2017 19:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LOAISP] [nvarchar](50) NOT NULL,
	[TENSP] [nvarchar](50) NOT NULL,
	[NSX] [nvarchar](50) NOT NULL,
	[SL] [int] NOT NULL,
	[DG] [int] NOT NULL,
	[GHICHU] [nvarchar](max) NULL,
	[TINHTRANG] [bit] NOT NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUCO]    Script Date: 09/11/2017 19:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGAY] [date] NOT NULL,
	[NOIDUNG] [nvarchar](max) NOT NULL,
	[IDNV] [int] NOT NULL,
 CONSTRAINT [PK_SUCO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TONKHO]    Script Date: 09/11/2017 19:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TONKHO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGAY] [date] NOT NULL,
	[IDNV] [int] NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_TONKHO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[YCXUAT]    Script Date: 09/11/2017 19:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YCXUAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGAY] [date] NOT NULL,
	[IDNV] [int] NOT NULL,
	[IDCH] [int] NOT NULL,
	[TINHTRANG] [bit] NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_YCXUAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CUAHANG] ADD  CONSTRAINT [DF_CUAHANG_TIENNO]  DEFAULT ((0)) FOR [TIENNO]
GO
ALTER TABLE [dbo].[DONDATHANG] ADD  CONSTRAINT [DF_DONDATHANG_TINHTRANG]  DEFAULT ((0)) FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[NCC] ADD  CONSTRAINT [DF_NCC_TIENNO]  DEFAULT ((0)) FOR [TIENNO]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_TINHTRANG]  DEFAULT ((1)) FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [DF_SANPHAM_TINHTRANG]  DEFAULT ((1)) FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[YCXUAT] ADD  CONSTRAINT [DF_YCXUAT_TINHTRANG]  DEFAULT ((0)) FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[CTDH]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[DONDATHANG] ([ID])
GO
ALTER TABLE [dbo].[CTDH]  WITH CHECK ADD FOREIGN KEY([IDSP])
REFERENCES [dbo].[SANPHAM] ([ID])
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[PHIEUNHAP] ([ID])
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD FOREIGN KEY([IDSP])
REFERENCES [dbo].[SANPHAM] ([ID])
GO
ALTER TABLE [dbo].[CTPX]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[PHIEUXUAT] ([ID])
GO
ALTER TABLE [dbo].[CTPX]  WITH CHECK ADD FOREIGN KEY([IDSP])
REFERENCES [dbo].[SANPHAM] ([ID])
GO
ALTER TABLE [dbo].[CTSUCO]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[SUCO] ([ID])
GO
ALTER TABLE [dbo].[CTSUCO]  WITH CHECK ADD FOREIGN KEY([IDSP])
REFERENCES [dbo].[SANPHAM] ([ID])
GO
ALTER TABLE [dbo].[CTTK]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[TONKHO] ([ID])
GO
ALTER TABLE [dbo].[CTTK]  WITH CHECK ADD FOREIGN KEY([IDSP])
REFERENCES [dbo].[SANPHAM] ([ID])
GO
ALTER TABLE [dbo].[CTYCX]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[YCXUAT] ([ID])
GO
ALTER TABLE [dbo].[CTYCX]  WITH CHECK ADD FOREIGN KEY([IDSP])
REFERENCES [dbo].[SANPHAM] ([ID])
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD FOREIGN KEY([IDNCC])
REFERENCES [dbo].[NCC] ([ID])
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD FOREIGN KEY([IDNV])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[PHIEUCHI]  WITH CHECK ADD FOREIGN KEY([IDNCC])
REFERENCES [dbo].[NCC] ([ID])
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([IDNCC])
REFERENCES [dbo].[NCC] ([ID])
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([IDNV])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[PHIEUTHU]  WITH CHECK ADD FOREIGN KEY([IDCH])
REFERENCES [dbo].[CUAHANG] ([ID])
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD FOREIGN KEY([IDCH])
REFERENCES [dbo].[CUAHANG] ([ID])
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD FOREIGN KEY([IDNV])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[SUCO]  WITH CHECK ADD FOREIGN KEY([IDNV])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD FOREIGN KEY([IDNV])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[YCXUAT]  WITH CHECK ADD FOREIGN KEY([IDCH])
REFERENCES [dbo].[CUAHANG] ([ID])
GO
USE [master]
GO
