<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="KHODMEntities" connectionString="metadata=res://*/Kho.csdl|res://*/Kho.ssdl|res://*/Kho.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMINISTRATOR\SQLEXPRESS;initial catalog=KHODM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>